---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Pagina de inicio";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Mi impresionante subtítulo del blog</h2>
  <h3>Hola esta es una prueba</h3>
</BaseLayout>